<!DOCTYPE html>
<html>
  <head>
    <title>Audio Streaming Service</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="jumbotron jumbotron-fluid text-center">
        <h1>Welcome to Audio Box<sup><small>TM</small></sup></sup></h1>
        <p><em>Your source for audio sharing and streaming!</em></p>
      <div v-if="!authenticated" class="form-group text-center">
        <input class="col-4 mx-auto form-control" type="text" name="username" v-model="input.username" placeholder="Username" />
        <input class="col-4 mx-auto form-control" type="password" name="password" v-model="input.password" placeholder="Password" />
        <button class="col-4 btn btn-outline-success" type="button" v-on:click="login()">Login</button>
      </div>
      <div v-else class="text-center">
        <h2>Hello, {{userData.userName}}</h2>
        <button type="button" class="btn btn-outline-danger" v-on:click="logout()">Logout</button>
        <button type="button" class="btn btn-outline-success" v-on:click="fetchUserAudioLib()">My Library</button>
        <div class="btn-group-xs">
          <button type="button" class="btn btn-outline-primary" v-on:click="showModalAdd()">Add an audio</button>
        </div>
      </div>
    </div>
    <div v-if="authenticated">
        <div v-if="libraryData != null" id="userLibrary">
          <ul class="list-group">
            <div v-for="audio in libraryData">
              <li class="list-group-item col-7 mx-auto">
                <div class="d-flex w-100 justify-content-between">
                  {{audio.audioName}}
                  <audio controls autoplay>
                    <source src= {{audio.audioFile}}
                    type="audio/mpeg"/>
                  </audio>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
      <div v-if="authenticated">
        <modal v-if="modalAdd" @close="hideModal">
          <!--
            you can use custom content here to overwrite
            default content
          -->
          <div slot="header" class="modal-header">
            Add an audio here
          </div>
          <div slot="body">
            <div class="form-group col-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text  modal-prepend">Audio Name</span>
                </div>
                <input class="col-8 form-control" required type="text" id="audioName" v-model="audioForm.audioName" placeholder="Name of your audio File" />
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text modal-prepend">Audio File</span>
                </div>
                <input class="col-8 form-control" type="file" id="audioFile" v-model="audioForm.audioFile"/>
              </div>
            </div>
          </div>
          <div slot="footer">
              <button type="button" class="btn btn-secondary" v-on:click="addAudio()">Add audio</button>
              <button type="button" class="btn btn-outline-danger" v-on:click="hideModal()">Close</button>
          </div>
        </modal>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/audios.js" ></script>
  <link rel="stylesheet" href="/static/audios.css"/>
</body>
</html>
